body {
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    /*background-color: #576B72;*/
    background-color: #334D5C;
    display: block;
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: white;
}

.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
    color: white;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #16873B;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.light {
    font-weight: 400;
}

.content-section {
    padding-top: 100px;
}


/* video background*/

video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(img/sep-guide-logo.jpg) no-repeat;
    background-size: cover;
}


/* down arrow */


/* home */

#home3,
#home {
    padding-top: 50%;
    font-size: 50px;
    text-align: center;
}


/* logo */

#logo {
    text-align: center;
    width: 100%;
    height: 100%;
}

#students3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
}

h3 {
    text-align: center;
    top: 100%;
    color: #46B29D;
}

.nine {
    top: 50px;
}

.ten {
    bottom: 200px;
}

#logo {
    padding-top: 60px;
}

.no-padding {
    padding: 0;
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/* Gallery */

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    bottom:none;
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/* Robotics */

#robotics {
    /*position: relative;*/
    /*bottom: 210px;*/
}


/*#robots1 {*/


/*    position: relative;*/


/*    top: 70px;*/


/*}*/


/* Scratch */


/*#scratch {*/


/*    position: relative;*/


/*    top: 100px;*/


/*}*/


/*#python1 {*/


/*    position: relative;*/


/*    bottom: 250px;*/


/*}*/

#github1 {
    background-image: no-repea;
}

@media(max-width:768px) {
    h3 {
        font-size: 30px;
    }
}

@media(max-width:992px) {
    h3 {
        font-size: 40px;
        top: 50%;
    }
    #home3 {
        top: 50%;
    }
}

@media(min-width:1200px) {
    h3 {
        font-size: 40px;
    }
}


/* IMAGES*/


/* Animations */
